<?xml version="1.0" encoding="UTF-8"?>

<!-- <web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
	version="2.5" > -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>CotizadorWEB_Tomcat6</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ServletGenerico</display-name>
		<servlet-name>ServletGenerico</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.util.ServletGenerico</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletGenerico</servlet-name>
		<url-pattern>/ServletGenerico</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletMarcas</display-name>
		<servlet-name>ServletMarcas</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectorVehiculo.ServletMarcas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletMarcas</servlet-name>
		<url-pattern>/ServletMarcas</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletModelosMarca</display-name>
		<servlet-name>ServletModelosMarca</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectorVehiculo.ServletModelosMarca</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletModelosMarca</servlet-name>
		<url-pattern>/ServletModelosMarca</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletVersionesMarcaModelo</display-name>
		<servlet-name>ServletVersionesMarcaModelo</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectorVehiculo.ServletVersionesMarcaModelo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletVersionesMarcaModelo</servlet-name>
		<url-pattern>/ServletVersionesMarcaModelo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletAniosCodigo</display-name>
		<servlet-name>ServletAniosCodigo</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectorVehiculo.ServletAniosCodigo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAniosCodigo</servlet-name>
		<url-pattern>/ServletAniosCodigo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletRCE</display-name>
		<servlet-name>ServletRCE</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectores.ServletRCE</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletRCE</servlet-name>
		<url-pattern>/ServletRCE</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletOcupaciones</display-name>
		<servlet-name>ServletOcupaciones</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectores.ServletOcupaciones</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletOcupaciones</servlet-name>
		<url-pattern>/ServletOcupaciones</url-pattern>
	</servlet-mapping>

	<!-- carolina agrego esto -->
	<servlet-mapping>
		<servlet-name>PerdidaTotalServletModelo</servlet-name>
		<url-pattern>/PerdidaTotalServletModelo</url-pattern>
	</servlet-mapping>
	<servlet>

		<description></description>
		<display-name>ServletDepartamentos</display-name>
		<servlet-name>ServletDepartamentos</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectores.ServletDepartamentos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDepartamentos</servlet-name>
		<url-pattern>/ServletDepartamentos</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletCiudadesDepartamento</display-name>
		<servlet-name>ServletCiudadesDepartamento</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectores.ServletCiudadesDepartamento</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCiudadesDepartamento</servlet-name>
		<url-pattern>/ServletCiudadesDepartamento</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletAniosExperiencia</display-name>
		<servlet-name>ServletAniosExperiencia</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectores.ServletAniosExperiencia</servlet-class>
	</servlet>
<!-- 	carolina agrego esto -->
		<servlet>
		<description></description>
		<display-name>PerdidaTotalServletModelo</display-name>
		<servlet-name>PerdidaTotalServletModelo</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectorVehiculo.PerdidaTotalServletModelo</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletAniosExperiencia</servlet-name>
		<url-pattern>/ServletAniosExperiencia</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletCotizacion</display-name>
		<servlet-name>ServletCotizacion</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.cotizar.ServletCotizacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCotizacion</servlet-name>
		<url-pattern>/ServletCotizacion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletImagenCaptcha</display-name>
		<servlet-name>ServletImagenCaptcha</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.util.ServletImagenCaptcha</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletImagenCaptcha</servlet-name>
		<url-pattern>/ServletImagenCaptcha</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletTextoCaptcha</display-name>
		<servlet-name>ServletTextoCaptcha</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.util.ServletTextoCaptcha</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletTextoCaptcha</servlet-name>
		<url-pattern>/ServletTextoCaptcha</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletGenerarPDF</display-name>
		<servlet-name>ServletGenerarPDF</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.cotizar.ServletGenerarPDF</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletGenerarPDF</servlet-name>
		<url-pattern>/ServletGenerarPDF</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletEnviarCorreo</display-name>
		<servlet-name>ServletEnviarCorreo</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.cotizar.ServletEnviarCorreo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEnviarCorreo</servlet-name>
		<url-pattern>/ServletEnviarCorreo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletCodigoFasecoldaPlaca</display-name>
		<servlet-name>ServletCodigoFasecoldaPlaca</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectorVehiculo.ServletCodigoFasecoldaPlaca</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCodigoFasecoldaPlaca</servlet-name>
		<url-pattern>/ServletCodigoFasecoldaPlaca</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PerdidaTotalServlet</display-name>
		<servlet-name>PerdidaTotalServlet</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectorVehiculo.PerdidaTotalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PerdidaTotalServlet</servlet-name>
		<url-pattern>/PerdidaTotalServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletProductos</display-name>
		<servlet-name>ServletProductos</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectores.ServletProductos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletProductos</servlet-name>
		<url-pattern>/ServletProductos</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PerdidaTotalTotalServlet</display-name>
		<servlet-name>PerdidaTotalTotalServlet</servlet-name>
		<servlet-class>co.dynaco.cotizadorweb.selectorVehiculo.PerdidaTotalTotalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PerdidaTotalTotalServlet</servlet-name>
		<url-pattern>/PerdidaTotalTotalServlet</url-pattern>
	</servlet-mapping>
</web-app>